<p>Dear <%= name %>,</p>

<p>Thanks for signing up! We're excited to have you on board.</p>

<p>here are your account details:</p>

<ul
  style="
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
  "
>
  <li style="color: #555555">Email: <%= email %></li>
  <li style="color: #555555">Login URL: <%= loginUrl %></li>
</ul>

<p
  style="
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
  "
>
  Thanks! NestJs Blog Team
</p>
